body{
    margin: 0;
}


.home{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    background-attachment: scroll;
}

.videos{
  position: absolute;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
}


video {
  position: fixed; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}




.Indices{
    display: flex;
    width: 100vw;
    height: 13vh;
    position: fixed;
    opacity: 90%;
}


.Indice{
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    
}


.indiced{
    display: flex;
    background-color: black;
    color: white;
    width: 100vw;
    justify-content: flex-end;
    padding-right: 30px;
}


.opciones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

.opciones a{
    color: #FBBF07;
    text-decoration: none;
}

.opciones a:hover{
    color: red;
}
.nombre_pagina{
    display: flex;
    flex-direction: row;
    color: red;
}

.nombre_pagina h2{
    padding-top: 15px;
    padding-left: 20px;
}


h4{
   list-style: none;
   padding-right: 15px;
}


.medio{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}






















.requerimientos{
    background-color: #131A1D;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto_requerimientos{
    display: flex;
    font-size: 45px;
    align-content: flex-start;
    align-items: center;
    padding-bottom: 70px;
    color: #FBBF07;

}


.clores{
    display: flex;
    background-image: url(foto3.jpg);
    width: 80vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    border-radius: 25px;

}

.tablas{
    display: flex;
}


.tablauno{
    background-color: black;
    opacity: 85%;
    width: 35vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#header.tablauno{
    size: 40px;
}


.tablados{
    background-color: black;
    opacity: 85%;
    width: 35vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


ul.rm{
    list-style: none;
    color: white
   
}


ul.rr{
    list-style: none;
    color: white
}













.actualizaciones{
    background-color: #131A1D;
    width: 100vw;
    height: 100vh;
}

.texto_actualizaciones{
    display: flex;
    font-size: 45px;
    padding-top: 45px;
    align-content: center;
    color: #FBBF07;
}



.filau{
    display: flex;
}


.filad{
    display: flex;
    padding-bottom: 70px;
}


.update10{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    height: 20vh;
    margin-right: 5vw;
    margin-left: 10vw;
    margin-top: 90px;
    transition: all 0.7s ease;
}

.update10:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 65vw;
}


.update11{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    padding-bottom: 0px;
    margin-right: 5vw;
    height: 20vh;
    margin-top: 90px;
    transition: all 0.7s ease;
}

.update11:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 45vw;
}


.update12{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    height: 20vh;
    margin-right: 10vw;
    margin-top: 90px;
    transition: all 0.7s ease;
}

.update12:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 65vw;
}


.update13{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    margin-right: 5vw;
    height: 20vh;
    margin-left: 10vw;
    margin-top: 120px;
    transition: all 0.7s ease;
    margin-bottom: 100px;
}

.update13:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 65vw;
}


.update14{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    padding-bottom: 0px;
    margin-right: 5vw;
    height: 20vh;
    margin-top: 120px;
    transition: all 0.7s ease;
}

.update14:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 65vw;
}


.update15{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    border-radius: 45px;
    height: 20vh;
    margin-right: 10vw;
    margin-top: 120px;
    transition: all 0.7s ease;
}

.update15:hover{
    background-color: white;
    color: black;
    height: 25vh;
    width: 65vw;
}

ul{
    list-style: none;
}





.about{
    width: 100vw;
    height: 100vh;
    background-color: #131A1D;
}

.texto_about{
    font-size: 45px;
    padding-top: 120px;
    color: #FBBF07;
}

.Descripcion{
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.todoa{
    display: flex;
    flex-direction: column;
}

.videoab{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contact{
    width: 100vw;
    height: 100vh;
    background-color:beige;
}

.todo_contact{
    background-color: black;
    width: 30vw;
    height: 15vh;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}